
.mod1
{ 
  text-align:center;
  background-color:skyblue ;
  height:100px;
  width:100px;
  border:10px solid rgb(19, 150, 202);
  border-top-left-radius:20px;
  border-bottom-right-radius:20px;
  padding:50px;
  margin:50px;

}
.mod2
{ 
    
    background-color:aquamarine;
   /* height:570px;*/
  /*width:500px;*/
    border: 20px solid blanchedalmond;
    padding: 70px;
    /*box-sizing: border-box;*/
    margin: 80px;
    /*max-width:fit-content;*/
    /*max-width: min-content;*/
    max-width: 500px;
    /*min-width:max-content;*/   
    /*max-height: 10px;*/
    /*max-height: fit-content;*/
    /*max-height:min-content;*/
     /*min-height: fit-content;*/
     min-height: 10px;
}
.mod3
{
 display:none;
 display:inline-block;
  /*display: inline;*/
  /* display: block;*/
border: 1px solid blue;
}
 .mod4
 {
    background-color:cyan;
    color:black;
    border: 10px solid black;
    padding: 30px;
    margin:10px;
    border-radius: 30px;
 }
 #btn1
  {
    
    background-color: rgb(232, 233, 183);
    max-width: 100px;
    /* max-width: fit-content; */
     max-width:min-content; 
    padding:20px;
    margin:50px;
    /* max-height: max-content; */
     /* max-height: fit-content; */
     max-height: 50px;
    /* min-height: fit-content; */
    min-height:100px;
    min-height:min-content;
   min-height: max-content;
  }
 
